VITE_FACEBOOK_URL=https://www.facebook.com/groups/951645489524779/media
VITE_GOOGLE_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Alpha+Electric+Southeast+Wilmington+NC
VITE_GOOGLE_REVIEWS_URL=https://www.google.com/search?q=Alpha+Electric+Southeast+Wilmington+NC+reviews
AZURE_STORAGE_CONNECTION_STRING=
QUOTE_TABLE_NAME=QuoteRequests
QUOTE_PHOTO_CONTAINER=quote-photos
AZURE_COMMUNICATION_EMAIL_CONNECTION_STRING=
EMAIL_SENDER=DoNotReply@your-verified-domain.example
EMAIL_RECIPIENT=office@example.com
